@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.video-section {
    video {
        width: 100%;
        max-height: 60vh;
        background-color: $BrainFlix-DarkBlack;
    }
}
