@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables'as *;
@import '../../styles/main.scss';

.comments-section__content__card {
  display: flex;
  margin: 1rem 0;
  border-top: 1px solid $Mercury;
  padding-top: 1rem;

  &:last-child {
    border-bottom: 1px solid $Mercury;
    padding-bottom: 1rem;
  }
}


.comments-section__content__info {
  margin: 0 1rem;
  width: 100%;
}

.comments-section__content__info__header {
  display: flex;
  justify-content: space-between;
  // padding: 0.5rem 0;
}

.comments-section__content__info__comment {
  font-family: 'Avner-reg';
  font-weight: 600;
}

.comments-section__content__info__username {
  font-family: 'Avner-demi';
  margin-bottom: 0;
}

.comments-section__content__info__timestamp {
  font-family: 'Avner-reg';
  color: $Silver;
  margin-bottom: 0;
}

.avatar {
  border-radius: 50%;

  @include mobile {
    height: 36px;
    width: 36px;
  }

  @include media(desktop, tablet) {
    height: 48px;
    width: 48px;
  }
}

.comments-section__title {
  color: $BrainFlix-DarkBlack;
  font-family: 'Avner-demi'
}

.comments-section__content__profile {
  margin-top: 16px;
  margin-left: 15px;

  span {
    display: block;
    background-color: $Mercury;
    @extend .avatar;
  }
}

.comments-section__newcomment {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.newcomment__button {
  margin: 0 0.5rem;

  button {
    background-color: $BrainFlix-Blue;
    border: $BrainFlix-Blue;
    border-radius: 4px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $White;
    text-align: center;
    padding-right: 32px;
    padding-left: 50px;
    position: relative;

    img {
      position: absolute;
      left: 10px;

    }

    span {
      margin-right: auto;
    }
  }
}

.newcomment__input {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 1rem;

  input {
    // min-width: 240px;
    border-radius: 4px;
    background-color: $Alabaster;
    border: 1px solid $Mercury;
    color: $BrainFlix-Black;
    padding: 0 12px;
    &::placeholder {
      color: $BrainFlix-Black;
    }

    @include media(desktop, tablet){
      height: 40px;
    }

    @include mobile{
      height: 36px;
    }
  }

  label{
    font-size: 12px;
    line-height: 20px;
    color: $Silver;
  }
}

.newcomment__profile {
  margin: 0 0.5rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: url(../../assets/images/Mohan-muruge.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}